.card {
    border: 1px solid black;
    width: 25%;
}

.list {
    border: 1px dashed black;
    width: 50%;
}

.list-view {
    display: flex;
    flex-direction: row;
}

.center {
    text-align: center;
}